<div class="container" [class.dark-mode]="dark">
  <div class="navBar">
    <img src="assets/img/coronaLogo.svg" alt="corona logo svg" class="logoImg">
    <h1>{{title}}</h1>
    <button class="pushRight themeToggle"  matTooltip="Switch theme" (click)="toggle()">
      <mat-icon>wb_sunny</mat-icon>
    </button>
  </div>


  <div class="two">
    <mat-card class="card card-1 mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>INDIA SITUATION</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p>{{confirmedIn}} (+{{newConfirmedTodayIn}})</p>
          <p>Confirmed</p>
        </div>
        <div>
          <p>{{activeIn}}</p>
          <p>Active</p>
        </div>
        <div>
          <p>{{recoveredIn}}</p>
          <p>Recovered</p>
        </div>
        <div>
          <p>{{deathsIn}} (+{{newDeathsTodayIn}})</p>
          <p>Deaths</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card card-2 mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>GLOBAL SITUATION</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p>{{totalCases}} (+{{newCases}})</p>
          <p>Confirmed</p>
        </div>
        <div>
          <p>{{totalActiveCases}}</p>
          <p>Active</p>
        </div>
        <div>
          <p>{{totalSeriousCases}}</p>
          <p>Serious</p>
        </div>
        <div>
          <p>{{totalRecovered}}</p>
          <p>Recovered</p>
        </div>
        <div>
          <p>{{totalDead}} (+{{newDeaths}})</p>
          <p>Deaths</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="card table mat-elevation-z0">
    <table mat-table [dataSource]="stateData" class="mat-elevation-z0">

      <!-- State Column -->
      <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef> STATE </th>
        <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
      </ng-container>

      <!-- confirmedCasesIndian Column -->
      <ng-container matColumnDef="confirmedCasesIndian">
        <th mat-header-cell *matHeaderCellDef> INDIAN </th>
        <td mat-cell *matCellDef="let element"> {{element.confirmedCasesIndian}} </td>
      </ng-container>

      <!-- confirmedCasesForeign Column -->
      <ng-container matColumnDef="confirmedCasesForeign">
        <th mat-header-cell *matHeaderCellDef> FOREIGN </th>
        <td mat-cell *matCellDef="let element"> {{element.confirmedCasesForeign}} </td>
      </ng-container>

      <!-- Discharged Column -->
      <ng-container matColumnDef="discharged">
        <th mat-header-cell *matHeaderCellDef> DISCHARGED </th>
        <td mat-cell *matCellDef="let element"> {{element.discharged}} </td>
      </ng-container>

      <!-- Deaths Column -->
      <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef> DEATHS </th>
        <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-row></tr> -->
    </table>
  </mat-card>

  <!-- <mat-card class="card mat-elevation-z0">
    <table mat-table [dataSource]="newsData" class="mat-elevation-z0">

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> 
          <img [src]="element.image">
        </td>
      </ng-container>
    
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="newsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: newsColumns;"></tr>
    </table>
  </mat-card> -->
</div>