<div class="navBar">
  <img src="assets/img/coronaLogo.svg" alt="corona logo svg" class="logoImg">
  <h1>Covid-19</h1>
  <img src="assets/img/translation.svg" alt="change language" class="translationImg">
</div>

<div class="container">
  <mat-card class="card card-1 mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>INDIA SITUATION</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>332</p>
        <p>Confirmed</p>
      </div>
      <div>
        <p>5</p>
        <p>Deaths</p>
      </div>
      <div>
        <p>23</p>
        <p>Recovered</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>