<mat-card class="card card-8 mat-elevation-z0">
  <mat-card class="newsCard mat-elevation-z0" *ngFor="let article of data.News" (click)="goto(article.webUrl)">
    <mat-card-header>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.provider.name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-list-avatar" matListAvatar src={{article.images[0].url}} alt={{article.images[0].title}} mat-elevation-z1>
    <mat-card-content>
      <h3>{{article.discription}}</h3>
    </mat-card-content>
  </mat-card>
</mat-card>