<div class="card-7">
  <mat-card class="card summary mat-elevation-z0">
    <h1>Summary</h1>
    <h4>Covid-19 Disease</h4>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header matRipple>
        What is Coronavirus?
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
        <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover
          without requiring special treatment. Older people, and those with underlying medical problems like
          cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious
          illness.</p>
        <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">For more information visit here</a>
      </ng-template>
    </mat-expansion-panel>

  </mat-card>

  <mat-card class="card prevention mat-elevation-z0">
    <h3>Prevention</h3>
    <span class="info">
      <img src="assets/img/doctor-woman.svg">
      <p>
        The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected
        person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by
        coughing into a flexed elbow).
      </p>
    </span>
    <span class="gridSection">
      <div class="gridCard">
        <img src="assets/icons/prevention/01.svg">
        <div>Wash Hands</div>
      </div>
      <div class="gridCard">
        <img src="assets/icons/prevention/02.svg">
        <div>Cover Face</div>
      </div>
      <div class="gridCard">
        <img src="assets/icons/prevention/03.svg">
        <div>Wash Hands</div>
      </div>
      <div class="gridCard">
        <img src="assets/icons/prevention/04.svg">
        <div>Stay home</div>
      </div>
      <div class="gridCard">
        <img src="assets/icons/prevention/05.svg">
        <div>Social Distancing</div>
      </div>
      <div class="gridCard">
        <img src="assets/icons/prevention/06.svg">
        <div>Hygeine</div>
      </div>
    </span>
  </mat-card>

  <mat-card class="card symptoms mat-elevation-z0">
    <h3>Symptoms</h3>
    <mat-card-content>
      <p>
        The COVID-19 virus affects different people in different ways. COVID-19 is a respiratory disease and most
        infected people will develop mild to moderate symptoms and recover without requiring special treatment. People
        who have underlying medical conditions and those over 60 years old have a higher risk of developing severe
        disease and death.
      </p>

      <p>
        Common symptoms include:
      </p>

      <ul>
        <li>
          fever
        </li>
        <li>
          tiredness
        </li>
        <li>
          dry cough.
        </li>
      </ul>
      <br>

      Other symptoms include:

      <ul>
        <li>
          shortness of breath
        </li>
        <li>
          aches and pains
        </li>
        <li>
          sore throat
        </li>
        <li>
          and very few people will report diarrhoea, nausea or a runny nose.
        </li>
      </ul>


      <p>People with mild symptoms who are otherwise healthy should self-isolate and contact their medical provider or a
        COVID-19 information line for advice on testing and referral.</p>

      <p>
        People with fever, cough or difficulty breathing should call their doctor and seek medical attention.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card contacts mat-elevation-z0">
    <div class="staticContacts">
      <p>Helpline : +91-11-23978046 or 1075</p>
      <p>Help E-Mail : ncov2019@gov.in</p>
    </div>
    <div class="teleTable">
      <table mat-table [dataSource]="data.Contacts" class="mat-elevation-z0">

        <ng-container matColumnDef="loc">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="data.contactColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: data.contactColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>