/* You can add global styles to this file, and also import other style files */
@import "grid.scss";

$background-lt: #eeeef3;
$background-dk: #212121;
$surface-dk: #121212;
$primary-dk: #252525;
$on-background-dk: #a7a7a7;
$on-surface-dk: #909090;

* {
  transition: all ease-in-out 0.2s;
}

body {
  margin: 0;
  font-size: 16px;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: $background-lt;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

.navBar {
  display: flex;
  padding-bottom: 4vh;
}

.logoImg {
  margin-left: 0px;
  margin-right: 1vw;
}

.pushRight {
  margin-left: auto;
  margin-right: 0px;
}

.themeToggle{
  border: none;
  background-color: transparent;
  &:hover{
    opacity: 0.65;
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

//Default card class
mat-card.card {
  font-family: inherit;
  padding-bottom: 8px;
  padding-right: 6vw;
  border-radius: 8px;
  box-shadow: 0px 1px 6px #f2f2f2;
  // width: 320px;
  margin-bottom: 20px;
}

mat-card.card-1 {
  .mat-card-header .mat-card-title {
    margin-bottom: 6px;
  }
  mat-card-title {
    color: #95989f;
    font-size: 16px !important;
    font-weight: 400;
  }
  mat-card-content {
    display: flex;
    font-size: 0.86rem;
    div:nth-child(1) {
      margin-left: 16px;
      p:nth-child(1) {
        color: #787878;
      }
      p:nth-child(2) {
        color: #adb0b8;
      }
    }
    div:nth-child(2) {
      margin-left: 36px;
      p:nth-child(1) {
        color: #fc6262;
      }
      p:nth-child(2) {
        color: #ff7575;
      }
    }
    div:nth-child(3) {
      margin-left: 36px;
      p:nth-child(1) {
        color: #87bb99;
      }
      p:nth-child(2) {
        color: #87bb99;
      }
    }
  }
}

mat-card.card-2 {
  margin-left: 40px;
  .mat-card-header .mat-card-title {
    margin-bottom: 6px;
  }
  mat-card-title {
    color: #95989f;
    font-size: 16px !important;
    font-weight: 400;
  }
  mat-card-content {
    display: flex;
    font-size: 0.86rem;
    div:nth-child(1) {
      margin-left: 16px;
      p:nth-child(1) {
        color: #787878;
      }
      p:nth-child(2) {
        color: #adb0b8;
      }
    }
    div:nth-child(2) {
      margin-left: 36px;
      p:nth-child(1) {
        color: #fc6262;
      }
      p:nth-child(2) {
        color: #ff7575;
      }
    }
    div:nth-child(3) {
      margin-left: 36px;
      p:nth-child(1) {
        color: #87bb99;
      }
      p:nth-child(2) {
        color: #87bb99;
      }
    }
  }
}

.card-1,
.card-2 {
  width: 100%;
  // max-width: 380px;
}

.two {
  display: flex;
}

// Table Styles
table {
  width: 100%;
  margin: auto;
  background-color: transparent !important;
}

tr:nth-last-child(1) {
  font-weight: 500;
  border-bottom: solid 1px #ffffff;
}


// Media Queries
@media only screen and (max-width: 576px) {
  body {
    padding: 0px;
    padding-top: 20px;
  }
  mat-card.card-2 {
    margin-left: 0px;
  }
  .card.table {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .table {
    padding-top: 6px !important;
  }
  th,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: block;
  }
}

@media only screen and (min-width: 576px){
  table{
    margin-left: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  mat-card.card-2 {
    margin-left: 6px;
  }
  table{
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0px;
    padding-top: 20px;
  }
  .card-2 {
    margin-left: 0px !important;
  }
  .card-1,
  .card-2 {
    margin-left: 0px;
  }
  mat-card.mat-card.card {
    padding-left: 0px;
  }
  mat-card.mat-card.card.table {
    padding-left: 10px;
  }
  th,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  mat-card.card-2 {
    margin-left: 24px;
  }
  table{
    margin-left: 32px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  table{
    margin-left: 50px;
  }
}


// Dark Mode styles
.dark-mode {
  .navBar {
    h1 {
      color: $on-background-dk;
    }
    img {
      filter: invert(1);
      opacity: 0.6;
    }
    .themeToggle{
      color: $on-background-dk;
    }
  }
  mat-card {
    background-color: $surface-dk;
    border: 1px solid rgb(20, 20, 20);
    box-shadow: 0px 1px 6px #000000;
    mat-card-title {
      color: $on-surface-dk;
    }
    mat-card-content div:nth-child(1) {
      p:nth-child(1) {
        color: $on-background-dk;
      }
      p:nth-child(2) {
        color: $on-surface-dk;
      }
    }
    table {
      th,
      td {
        color: $on-surface-dk;
      }
    }
  }
}
