/* You can add global styles to this file, and also import other style files */

// Variables

$font-default: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
sans-serif;

$background-lt: #eeeef3;
$background-dk: #212121;
$surface-dk: #121212;
$primary-dk: #252525;
$on-background-dk: #a7a7a7;
$on-surface-dk: #909090;

$c-red: #fc6262;
$c-grey: #787878;
$c-green: #87bb99;
$c-orange: #f28d52;
$c-blue: rgb(124, 124, 206);

$card-content-margin: 26px;

// Mixins
$breakpoints: (
  "xs": (
    max-width: 575px,
  ),
  "sm": (
    min-width: 576px,
  )
  and
  (
    max-width: 575px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 992px,
  ),
  "xlg": (
    min-width: 1200px,
  ),
) !default;

@mixin res($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

*,
::after,
::before {
  box-sizing: inherit;
  transition: all ease-in-out 0.2s;
}

body {
  margin: 0;
  font-size: 16px;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: $background-lt;
  font-family: $font-default;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

.navBar {
  display: flex;
  padding-bottom: 4vh;
}

.logoImg {
  margin-left: 0px;
  margin-right: 1vw;
}

.pushRight {
  margin-left: auto;
  margin-right: 0px;
}

.themeToggle {
  border: none;
  background-color: transparent;
  &:hover {
    opacity: 0.65;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

// Body

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include res("sm") {
    max-width: 540px;
  }
  @include res("md") {
    max-width: 720px;
  }
  @include res("lg") {
    max-width: 992px;
  }
  @include res("xlg") {
    max-width: 1140px;
  }
}

//Default card class
mat-card.card {
  border-radius: 8px;
  padding-bottom: 2vh;
  margin-bottom: 20px;
  font-family: inherit;
  box-shadow: 0px 1px 6px #f2f2f2;
}

mat-card.card-1 {
  .mat-card-header .mat-card-title {
    margin-bottom: 6px;
  }
  mat-card-title.mat-card-title {
    color: #95989f;
    font-size: 16px;
    font-weight: 400;
  }
  mat-card-content {
    display: flex;
    font-size: 0.86rem;
    div:nth-child(1) {
      margin-left: 16px;
      p:nth-child(1) {
        color: $c-grey;
      }
      p:nth-child(2) {
        color: $c-grey;
      }
    }
    div:nth-child(2) {
      p:nth-child(1) {
        color: $c-blue;
      }
      p:nth-child(2) {
        color: $c-blue;
      }
    }
    div:nth-child(3) {
      p:nth-child(1) {
        color: $c-green;
      }
      p:nth-child(2) {
        color: $c-green;
      }
    }
    div:nth-child(4) {
      p:nth-child(1) {
        color: $c-red;
      }
      p:nth-child(2) {
        color: $c-red;
      }
    }
  }
}

mat-card.card-2 {
  .mat-card-header .mat-card-title {
    margin-bottom: 6px;
  }
  mat-card-title.mat-card-title {
    color: #95989f;
    font-size: 16px;
    font-weight: 400;
  }
  mat-card-content {
    display: flex;
    font-size: 0.86rem;
    @include res("lg") {
      div.showData {
        margin-left: 14px;
      }
    }
    div:nth-child(1) {
      margin-left: 16px !important;
      p:nth-child(1) {
        color: $c-grey;
      }
      p:nth-child(2) {
        color: $c-grey;
      }
    }
    div:nth-child(2) {
      // margin-left: 16px;
      p:nth-child(1) {
        color: $c-blue;
      }
      p:nth-child(2) {
        color: $c-blue;
      }
    }
    div:nth-child(3) {
      // margin-left: 16px;
      p:nth-child(1) {
        color: $c-orange;
      }
      p:nth-child(2) {
        color: $c-orange;
      }
    }
    div:nth-child(4) {
      p:nth-child(1) {
        color: $c-green;
      }
      p:nth-child(2) {
        color: $c-green;
      }
    }
    div:nth-child(5) {
      p:nth-child(1) {
        color: $c-red;
      }
      p:nth-child(2) {
        color: $c-red;
      }
    }
  }
}

// At glance Cards
mat-card.card-1,
mat-card.card-2 {
  width: 100%;
  mat-card-content {
    white-space: nowrap;
    div:not(:first-child) {
      margin-left: $card-content-margin;
    }
  }
  @include res("xs") {
    mat-card-content {
      overflow-x: scroll;
    }
  }
  @include res("sm") {
    padding-left: 2px;
  }
  @include res("xs") {
    padding-left: 2px;
  }
}

// Navigation card
mat-card.card-4 {
  display: flex;
  padding: 2px 4px;
  user-select: none;
  box-shadow: inherit;
  justify-content: space-evenly;
  mat-card.mat-card {
    flex: 25%;
    border: none;
    display: flex;
    max-width: 200px;
    box-shadow: none;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    &:focus, &:active{
      border: none;
      outline: none;
    }
  }
  mat-card:not(:nth-last-child(1)) {
    margin-right: 10px;
  }
  .mat-icon {
    filter: brightness(1) invert(0);
    opacity: 0.5;
  }
}

mat-card.card.card-9 {
  padding: 4vw;
  padding-top: 2vw;
  font-size: 1.4rem;
  a {
    text-decoration: none;
    color: #2A594C;
    &:hover, &:focus{
      color: #49A69C;
    }
  }
  @include res("xs") {
    font-size: 1.2rem;
    padding-bottom: 50px;
  }
}

*[ng-reflect-router-link]:hover {
  cursor: pointer;
}
*[ng-reflect-router-link]:focus {
  border: none;
  outline: none;
}

// Table Styles
table.mat-table {
  width: 100%;
  margin: auto;
  font-family: $font-default;
  background-color: transparent;
}

tr:nth-last-child(1) {
  font-weight: 500;
  border-bottom: solid 1px #ffffff;
}

.disclamer {
  opacity: 0.95;
  max-height: 60px;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  border: 1px dotted transparentize($color: $c-grey, $amount: 0.8);
  background-color: transparentize($color: $surface-dk, $amount: 0.98);
  p {
    @include res("xs") {
      padding-left: 6px;
      padding-right: 6px;
    }
    font-size: 0.8rem;
  }
}

// Media Queries
@include res("xs") {
  mat-card.card-2 {
    mat-card-content {
      div {
        margin-left: 3% !important;
      }
    }
  }
}

@include res("sm") {
  html {
    font-size: 15px;
  }
  body {
    padding: 0px;
    padding-top: 20px;
  }
  mat-card.card-2 {
    margin-left: 0px;
  }
  .card.table {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  th,
  th.mat-header-cell,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@include res("md") {
  mat-card.card-2 {
    margin-left: 0px;
  }
  body {
    padding: 0px;
    padding-top: 20px;
  }
  mat-card.card-2 {
    margin-left: 0px;
  }
  .card-1,
  .card-2 {
    margin-left: 0px;
  }
  mat-card.mat-card.card.table {
    padding-left: 10px;
  }
  th,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@include res("lg") {
  body {
    padding: 0px;
    padding-top: 20px;
  }
  mat-card.card-2 {
    margin-left: 20px;
  }
  .card-1,
  .card-2 {
    margin-left: 0px;
  }
  th,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include res("xlg") {
  body {
    padding: 0px;
    padding-top: 20px;
  }
  mat-card.card-2 {
    margin-left: 20px;
  }
  .card-1,
  .card-2 {
    margin-left: 0px;
  }
  mat-card.mat-card.card.table {
    padding-left: 10px;
  }
  th,
  td {
    padding: 20px 10px !important;
  }
  .two {
    display: flex;
  }
}

// Dark Mode styles
.dark-mode {
  .navBar {
    h1 {
      color: $on-background-dk;
    }
    img {
      filter: invert(1);
      opacity: 0.6;
    }
    .themeToggle {
      color: $on-background-dk;
    }
  }
  mat-card {
    color: $on-background-dk;
    background-color: $surface-dk;
    box-shadow: 0px 1px 6px #000000;
    border: 1px solid rgb(20, 20, 20);
    mat-card-title {
      color: $on-surface-dk;
    }
    mat-card-content div:nth-child(1) {
      p:nth-child(1) {
        color: $on-background-dk;
      }
      p:nth-child(2) {
        color: $on-surface-dk;
      }
    }
    table {
      th,
      td {
        color: $on-surface-dk;
      }
    }
    .disclamer {
      color: $on-surface-dk;
      border: 1px dotted $c-grey;
      background-color: transparent;
    }
  }
  mat-card.card-4 {
    mat-card {
      color: $on-background-dk;
      // background: transparentize($color: $background-dk, $amount: 0.6);
    }
    .mat-icon {
      filter: brightness(0) invert(1);
      opacity: 0.4;
    }
  }
}
