// Mixins
$breakpoints: (
  "xs": (
    max-width: 575px,
  ),
  "sm": (
    min-width: 576px,
  )
  and
  (
    max-width: 575px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 992px,
  ),
  "xlg": (
    min-width: 1200px,
  ),
) !default;
