$font-default: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;

$black: #000;
$background-lt: #eeeef3;
$background-dk: #212121;
$surface-dk: #121212;
$primary-dk: #252525;
$on-surface-dk: #909090;
$on-background-dk: #a7a7a7;

$c-red: #fc6262;
$c-grey: #787878;
$c-green: #87bb99;
$c-orange: #f28d52;
$c-blue: rgb(124, 124, 206);

$border-radius-main: 6px;
$card-content-margin: 26px;
