<div class="two">
  <mat-card class="card card-1 mat-elevation-z0">
    <mat-card-header>
      <mat-card-title
        >INDIA SITUATION
        <img
          src="assets/icons/small-info.svg"
          matTooltip="The information provided in this card is unofficial and is fetched from Crowdsourced Patient Database  provided by covid19india.org."
          alt="About information provided"
      /></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>{{ data.India.confirmedIn }}</p>
        <p>Confirmed</p>
      </div>
      <div>
        <p>{{ data.India.activeIn }}</p>
        <p>Active</p>
      </div>
      <div>
        <p>{{ data.India.recoveredIn }}</p>
        <p>Recovered</p>
      </div>
      <div>
        <p>{{ data.India.deathsIn }}</p>
        <p>Deaths</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card card-2 mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>GLOBAL SITUATION</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>{{ data.Global.totalConfirmed }}</p>
        <p>Confirmed</p>
      </div>
      <div>
        <p>{{ data.Global.totalRecovered }}</p>
        <p>Recovered</p>
      </div>
      <div>
        <p>{{ data.Global.totalDeaths }}</p>
        <p>Deaths</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-card class="card table mat-elevation-z0">
  <table mat-table [dataSource]="data.stateData" class="mat-elevation-z0">
    <!-- State Column -->
    <ng-container matColumnDef="loc">
      <th mat-header-cell *matHeaderCellDef>STATE</th>
      <td mat-cell *matCellDef="let element">{{ element.loc }}</td>
    </ng-container>

    <!-- confirmedCasesIndian Column -->
    <ng-container matColumnDef="confirmedCasesIndian">
      <th mat-header-cell *matHeaderCellDef>INDIAN</th>
      <td mat-cell *matCellDef="let element">
        {{ element.confirmedCasesIndian }}
      </td>
    </ng-container>

    <!-- Discharged Column -->
    <ng-container matColumnDef="discharged">
      <th mat-header-cell *matHeaderCellDef>RECOVERED</th>
      <td mat-cell *matCellDef="let element">{{ element.discharged }}</td>
    </ng-container>

    <!-- Deaths Column -->
    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef>DEATHS</th>
      <td mat-cell *matCellDef="let element">{{ element.deaths }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="data.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: data.displayedColumns"></tr>
    <!-- <tr mat-row></tr> -->
  </table>
  <div class="disclamer disclamer-1">
    <p>
      Data in the table might be a bit delayed due to contact tracing by MOHFW.
    </p>
  </div>
</mat-card>
